@model List<Article>

<h1>It Статьи</h1>

@foreach( var article in Model)
{
    <div>
        <h2>@article.Title</h2>
        <img src="@article.ImageUrl" width="200" />
        <p>@article.Content</p>
    </div>
}