@{
    ViewData["Title"] = "Главная страница сайта";
}

<a asp-controller= "Article" asp-action="Index" class="btn btn-primary"> 
    Перейти к статьям
</a>

<a asp-controller="Product" asp-action="Index" class="btn btn-primary">
    Перейти к курсам
</a>

<a asp-controller="Auth" aps-action="Login" class="btn btn-primary">
    Войти
</a>


<a asp-controller="Auth" asp-action="Register" class="btn btn-success">
    Регистрация
</a>

<h1>Главная страница сайта</h1>


